/* 
  ===================================================
  Main
  ===================================================
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}

a, button, .no-drag
{
  -webkit-app-region: no-drag;
}

dt {
  font-weight : bold;
}
dd {
  font-style: italic;
}

::-webkit-scrollbar 
{
  background: #ecf0f1;
  width: 15px;
}

::-webkit-scrollbar-thumb 
{
    background: #bdc3c7;
  border: 5px solid #ecf0f1;
}

::-webkit-scrollbar-thumb:hover
{
    background: #42484a;
}

*.paramStyle { background-color:#ccccff; }

/* Style the tabbar and tabs */
.tabs-container {
  overflow-y: hidden;
  overflow-x: auto;
  border-bottom: 2px solid #3498db;
  background-color: #42484a;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}
.tabs-container .tab-link {
  display: flex;
  background-color: #3498db;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1px;
  margin-right: 1px;
  padding: 0px 4px;
  min-width: 120px;
  cursor: pointer;
  line-height: 13px;
}
.tabs-container .tab-link:hover, .tabs-container .tab-link:active, .tabs-container .tab-link.active {
  background-color: #2c81ba;
}
.tabs-container .tab-link span.tab-title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  padding: 4px 0px;
  margin: 4px 2px;
}
.tabs-container .tab-link span.tab-close{
  line-height: 13px;
  font-weight: bold;
  margin-left: 5px;
  padding: 4px;
  margin: 2px;
  float: right;
  right: 1px;
  display: none;
}
.tabs-container .tab-link span.tab-close:hover{
  color: red;
}
.tabs-container .tab-link:hover span.tab-close, .tabs-container .tab-link:active span.tab-close{
  display: block;
}

/* Style the files dropdown and files*/
.files-dropdown{
  background-color: #42484a;
  color: #ffffff;
  margin-right: 1px;
  margin-top: 1px;
  cursor: pointer;
}
.files-dropdown:hover, .projectFiles:active {
  background-color: #383d3f
}
.files-container{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 1px;
  position: absolute;
  z-index: 5;
  background-color: #42484a;
}
.files-dropdown:hover .files-container {
  display: block;
}
.files-container .file-link {
  display: flex;
  background-color: #3498db;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1px;
  padding: 0px 4px;
  cursor: pointer;
  /* line-height: 13px; */
}
.files-container .file-link:hover, .files-container .file-link:active, .files-container .file-link.active {
  background-color: #2c81ba;
}
.files-container .file-link span.file-icon{
  padding: 0 24px 0 0;
}
.files-container .file-link span.file-title {
  display: inline-block;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: nowrap;  */
  padding: 4px 0px;
  margin: 4px 4px;
}

/* Add file popup */
.addNewFilePopUp {
text-align: center;
padding-top: 20px;
}
.popupBtn{
  border: none;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 8px;
}
.popupBtn:hover, .popupBtn:active{
  background-color: #2c81ba;
}
#errMsg{
  color: red;
}

/* Style the buttons that are used to open the tab content */
.tabtab span, .files-container span {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
